.btn {
    border: 0.1rem solid #496a90;
    font-size: 0.9rem;
    min-width: 5.5rem;
    height: 1.8rem;
    line-height: 1.6rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to top, #d8d4ca, #fff);
    text-align: center;
    color: #000;
    padding-inline: 0.75rem;

    @include theme-color("silver") {
        &:not([disabled]) {
            background: linear-gradient(to bottom, #fdfdfd, #cecdde);
            box-shadow: inset 0.1rem 0 0 #fff, inset -0.1rem 0 0 #fff;
            border-color: #355b8e;
        }
    }

    &[data-primary] {
        box-shadow: inset 0.1rem 0.1rem 0 #9db6e8, inset -0.1rem -0.1rem 0 #9db6e8;

        @include theme-color("green") {
            box-shadow: inset 0.1rem 0.1rem 0 #a2c36b, inset -0.1rem -0.1rem 0 #a2c36b;
        }

        @include theme-color("silver") {
            box-shadow: inset 0 0.2rem 0.1rem #c5d8f5, inset 0 -0.1rem 0.1rem #778ce4;
        }
    }

    &:hover {
        box-shadow: inset 0 0 0 0.1rem #d89c3388;

        @include theme-color("silver") {
            &:not([disabled]) {
                box-shadow: inset 0 0 0 0.1rem #faab2388;
            }
        }
    }

    &:active {
        box-shadow: inset 0 1.5rem 0 0 #0001;

        @include theme-color("silver") {
            &:not([disabled]) {
                background: linear-gradient(to bottom, #cecdde, #fdfdfd);
            }
        }
    }

    &[disabled] {
        box-shadow: none;
        color: #b6b6a9;
        border-color: #d2d0c2;
        cursor: not-allowed;
        background: none;
    }
}