.menusContainer {
    z-index: 1;
}

.appMenu {
    background: #f1f0eb;
    border-bottom: 0.1rem solid #dedaca;
    color: #000;
    left: 0;
    right: 0;
    min-height: 3.6rem;

    @include theme-color("silver") {
        background-color: #f1f0f3;
    }

    [data-label="views"] {
        img {
            margin-right: 0.1rem;
        }

        &:hover {
            span {
                border-color: transparent;
            }
        }

        &:active {
            .dropdown {
                transform: scaleY(0.6) translate(0.105rem, 0.205rem);
            }
        }
    }

    &:not(:first-child) {
        border-top: 0.1rem solid #fff;
    }

    div:not(:last-child) {
        border-right: 0.1rem solid #dedaca;
    }

    button {
        border: 0.1rem solid transparent;
        flex-shrink: 0;

        &[disabled] {
            filter: grayscale(1);
        }

        &>img {
            margin: 0.5rem;
        }

        &>span {
            padding: 0.5rem 0;
            border-left: 0.1rem solid transparent;
        }

        h4 {
            padding-right: 0.5rem;
        }

        &:not([disabled]):hover {
            border: 0.1rem solid #d4d4cb;
            border-radius: 0.3rem;
            box-shadow: inset 0 0.1rem 0.1rem #fefefd, inset 0 -0.1rem 0.1rem #d4d4cb;
            background: #fff5;

            &>span {
                border-left: 0.1rem solid #dedaca;
            }
        }

        &:not([disabled]):active {
            box-shadow: inset 0 0.1rem 0.1rem #d4d4cb;
            background: #e5e4de;
            color: #fff;

            img,
            h4 {
                transform: translate(0.05rem, 0.05rem);
            }
        }
    }

    .dropdown {
        height: 100%;
        font-size: 1rem;
        transform: scaleY(0.6) translateY(0.1rem);
        display: block;
        color: #000;
    }
}

.navMenu {
    background: #f1f0eb;
    border-bottom: 0.1rem solid #dedaca;
    border-top: 0.1rem solid #fff;
    color: #000;
    left: 0;
    right: 0;
    min-height: 2.3rem;

    @include theme-color("silver") {
        background-color: #f1f0f3;
    }

    .navLabel {
        color: #7f7c74;
    }

    .navBar {
        background: #fff;
        border: 0.1rem solid #859cb6aa;
        flex-grow: 1;
        flex-shrink: 0;
        margin-bottom: -0.2rem;

        @include theme-color("green") {
            border-color: #99b685aa;
        }

        img {
            object-fit: contain;
        }

        input {
            border: none;

            &:hover,
            &:focus {
                outline: none;
            }
        }

        .dropDown {
            text-indent: -999rem;
            background-image: url("/ui/icons/system/spritesheet__drop_down.png");
            width: 1.6rem;
            height: 100%;
            background-size: cover;

            @include theme-color("green") {
                filter: hue-rotate(210deg);
            }

            @include theme-color("silver") {
                filter: saturate(0.4);
            }

            &:hover {
                background-position: -1.6rem;
            }
        }
    }

    .goButton {
        border-left: 0.1rem solid transparent;
        border-right: 0.1rem solid transparent;
        padding: 0 0.4rem 0 0.2rem;
        height: calc(100% + 0.1rem);

        &:hover {
            filter: brightness(1.1);
            background: #ffffff99;
            border-left: 0.1rem solid #cac5b3;
            border-right: 0.1rem solid #cac5b3;
        }
    }
}

.mainContent {

    &[data-bg-accent] {
        &:after {
            content: "";
            position: absolute;
            height: 12rem;
            width: 12rem;
            background-size: cover;
            background-repeat: no-repeat;
            bottom: 0;
            right: 0;
            pointer-events: none;
        }

        &[data-bg-accent="pictures"]:after {
            background-image: url("/assets/background__pictures.png");
        }

        &[data-bg-accent="music"]:after {
            background-image: url("/assets/background__music.png");
            width: 11rem;
        }

    }
}

.sidebar {
    width: 18rem;
    background: #6978d1;
    font-size: 0.9rem;
    z-index: 1;
    flex-shrink: 0;

    @include theme-color("green") {
        background: #b7c698;
    }

    @include theme-color("silver") {
        background: #b5b7c8;
    }
}

.contents {
    .iconGrid {
        color: #000;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: 1rem;
    }

    h3 {
        font-weight: 600;
        border-bottom: 0.1rem solid;
        border-image: linear-gradient(to right, #7daef9, transparent 23rem) 1;
        margin-left: -1rem;
        padding-left: 1rem;

    }

    .file {
        display: flex;
        align-items: center;
        width: 14rem;
        flex-shrink: 0;
        line-height: 1.2rem;
        z-index: 1;
        position: relative;

        &[data-link="true"] {
            &:after {
                content: "";
                width: 1.1rem;
                height: 1.1rem;
                background-image: url("/ui/icons/system/icon__shortcut.png");
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        img {
            margin-right: 0.5rem;
            aspect-ratio: 1/1;
            object-fit: contain;
        }

        &[data-id="localDisk"] {
            order: 1;
        }

        &[data-selected="true"] {
            &>span {
                background: #4069bf;
                mask-position: center left;
                mask-size: 3.5rem;
                mask-repeat: no-repeat;

                @include theme-color("green") {
                    background: #95a075;
                }

                @include theme-color("silver") {
                    background: #b5b7c8;
                }

                img {
                    mix-blend-mode: soft-light;
                }
            }

            h4 {
                background-color: #4069bf;
                text-shadow: none;
                color: #fff;

                @include theme-color("green") {
                    background-color: #95a075;
                }

                @include theme-color("silver") {
                    background: #b5b7c8;
                    color: #262626;
                }
            }
        }
    }
}