.notepad {
    textarea {
        height: 100%;
        width: 100%;
        color: #000;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    ::selection {
        background-color: #2f6bf6;
        color: #fff;

        @include theme-color("green") {
            background-color: #9aa87f;
        }

        @include theme-color("silver") {
            background-color: #b8beca;
            color: #000;
        }
    }


}