.StartMenuSubMenu {
    position: absolute;
    left: 100%;
    bottom: -0.1rem;
    background: #fff;
    border: 0.1rem solid #8cb8f9;
    min-height: 2.55rem;
    padding-left: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #00000033;
    width: 18.5rem;
    z-index: 1;

    @include theme-color("green") {
        border: 0.1rem solid #b4bf96;
    }

    @include theme-color("silver") {
        border: 0.1rem solid #8788a1;
    }

    &[data-sub-menu="allPrograms"] {
        left: 7%;
        bottom: 0.5rem;
        width: 16.5rem;

        @media (min-width: 60rem) {
            left: 75%;
            width: 19rem;
        }
    }

    &[data-sub-menu="recentDocuments"] {
        bottom: 0;
        width: 11rem;
        min-height: 100%;
        color: #000;
        display: flex;
    }

    &[data-active="false"] {
        display: none;
    }

    &:before {
        content: "";
        background: #467cdd;
        height: 100%;
        width: 0.3rem;
        position: absolute;
        left: 0;

        @include theme-color("green") {
            background: #95a075;
        }

        @include theme-color("silver") {
            background: #8788a1;
        }
    }

    .StartMenuSubMenu {
        display: none;
        align-items: center;
        width: 12.5rem;

        @media (min-width: 60rem) {
            width: 18rem;
        }

        &>div {
            width: 100%;
        }

        .StartMenuSubMenu {
            width: 13rem;

            @media (min-width: 60rem) {
                width: 14rem;
            }
        }
    }

    .subMenuItem {
        text-indent: 2rem;
        width: 100%;

        &:hover {
            &>.StartMenuSubMenu {
                display: flex;
                color: #000;
            }

            &:not(.emptySubMenu) {
                background: #4069bf;
                color: #fff;

                @include theme-color("green") {
                    background: #95a075;
                }

                @include theme-color("silver") {
                    background: #95a075;
                }
            }
        }
    }

    .emptySubMenu {
        width: 11rem;
        text-indent: 1rem;
    }

    [data-has-sub-menu="true"]:after {
        content: "►";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) scaleX(60%);
    }

    hr {
        height: 0;
        border-top: none;
        border-bottom: 0.1rem solid;
        border-image: linear-gradient(to right, transparent, #deded7, transparent 90%) 1;
    }
}